body {
  background-color: black;
  color: red;
  font-family: monospace;
  text-align: center;
  margin-top: 100px;
}

button {
  background: red;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
input {
  padding: 10px;
  margin-top: 10px;
  width: 250px;
}
button:hover {
  background: white;
  color: black;
}
button {
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px red;
}
